{% extends "base.html" %} 
{% block title %} TITLE {% endblock title %}

 {% block content %}
 

</div>
</nav>
<form class="container  overflow-hidden">
<h1 class="text-center">event Items</h1>
<div class="row g-3">
  {% if event_items %} {% for item in event_items %}
  <div class="col-lg-4">
    <div class="card shadow my-4">
      <div class="card-body">
        <img
        src={{item.image.url}}
        class="card-img-top"
        alt={{item.name}}
        />
        <h5 class="card-title text-center">
          <a href="{% url 'event-detail' item_id=item.id%}"
            >{{item.name}}</a>
        </h5>
        <p class="card-text text-center">{{ item.date }}</p>
        {% if item.available_seats == 0 %} 
        <p class="card-text text-center">no seats available!</p>
        {% else %}
        <p class="card-text text-center">Available seats: {{ item.available_seats }}</p>
          <a class="btn btn-primary btn-sm container text-center" href="">Book</a>
          {% endif %}
        </div>
      </div>
  </div>
  {% endfor %} {% else %}
  <p>No event items yet!</p>
  {% endif %}
</div>
</form>


{% endblock content %}
